[Desktop Entry]
Name=Android Studio
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=/opt/programas/android-studio/bin/studio.sh
Icon=/opt/programas/android-studio/bin/studio.png
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=TextEditor;Development;IDE;
Keywords=ide,jetbrains,studio,android
